%p.in-gold-500.font-18.mb-25 Password
= simple_form_for(@password_form || Users::PasswordForm.new, url: update_password_path, method: :patch, namespace: 'address_form' ) do |f|
  -# = f.hidden_field :reset_password_token
  = f.input :old_password
  = f.input :password
  = f.input :password_confirmation  
  -# .form-group.mb-30
  -#   %label.control-label.input-label{for: "oldPassword"} Old Password
  -#   %input#oldPassword.form-control{name:"password", type: "password", placeholder: "Old Password"}
  -# .form-group.mb-30
  -#   %label.control-label.input-label{for: "password"} New Password
  -#   %input#password.form-control{name:"password", type: "password", placeholder: "New Password"}
  -# .form-group.mb-40
  -#   %label.control-label.input-label{for: "confirmPassword"} Confirm Password
  -#   %input#confirmPassword.form-control{name:"password", type: "password", placeholder: "Confirm Password"}
  .general-text-align
    = f.button :submit , 'Save', style: 'btn-default mb-35'
