%h3
  = t('.review_caption')
%p.general-info-text
  = t('.score')
.mb-15
  %i.fa.fa-star.rate-empty
  %i.fa.fa-star.rate-empty
  %i.fa.fa-star.rate-empty
  %i.fa.fa-star.rate-empty
  %i.fa.fa-star.rate-empty
= simple_form_for review, remote: true, html: { class: 'row' }, method: :post do |f|
  = f.input_field :rating, as: :hidden, value: '5', id: 'review_rating'
  = f.input_field :book_id, as: :hidden
  .col-md-8
    .mb-40
      .form-group
        = f.input :title, label_html: { class: 'input-label in-grey-600' }
      .form-group
        = f.input :review, as: :text, label_html: { class: 'input-label in-grey-600' }
    .text-right
      = f.submit t('.post'), class: 'btn mb-20'
