%main.container
  %h1.general-title-margin Сatalog
  .hidden-xs.clearfix
    .dropdowns.pull-right
      = render partial: 'partials/sorting_select', locals: { dropdown_style: 'width-240', sort_selected: params[:sort] }
    = render partial: 'partials/categories_line', locals: { categories: @categories }
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      = render partial:'partials/sorting_select', locals: { dropdown_style: '', sort_selected: params[:sort] }
    %p.lead.small.mb-10 Sort by
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        Newest first
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      = render partial:'partials/sorting_select', locals: { dropdown_style: '', sort_selected: params[:sort] }
  .mb-120
    = render 'partials/categories_books'
    .text-center{id: "div_next_link"}
      = render 'partials/next_link'