%main.container
  = render 'partials/slider', books: @books_latest
.container
  .jumbotron.text-center.mb-0
    %h2.h1
      = t('welcome_caption')
    .mb-res-50
      %p
        = t('welcome_message')
    %button.btn.btn-default= t('get_started')
    -# = link_to(t('get_started'), home_path, class: 'btn btn-default')
  .mb-35
    = render partial: 'partials/book_best_sellers', locals: { books: @books_best_sellers }