%main.container.general-main-wrap
  %h1.mt-0.mb-25
    = t('.my_orders')
  %p.lead.small.mb-10.visible-xs
    = t('.filter')
  = render partial: 'dropdown_filter'
  .visible-xs
    = render partial: 'cart_items_grid'
  .hidden-xs.mb-res-50
    = render partial: 'cart_items_table', object: @orders
