%main.container.general-main-wrap
  = render partial: 'checkout_header', locals: { state: @current_order.aasm_state }
  %h3.general-subtitle Delivery
  .visible-xs.mb-30
    = simple_form_for @current_order, url: checkout_path, method: 'PATCH' do |f|
      .general-cart-item.divider-lg-bottom
        %table.table
          = f.collection_radio_buttons :order_delivery, Delivery.all, :id, :attributes do |delivery|
            %tr
              %td.col-half
                %span.in-grey-600 Method
              %td.col-half
                .form-group.radio.mt-0.mb-0
                  %label.radio-label
                    = f.radio_button :order_delivery, delivery.value, class: 'radio-input', hidden: "true", checked: (@current_order.order_delivery&.delivery_id == delivery.value)
                    %span.radio-icon
                    %span.radio-text
                      = delivery.text['name']
            %tr
              %td
                %span.in-grey-600 Days
              %td
                %span.font-16.fw-300
                  = delivery.text['days']
            %tr
              %td
                %span.in-grey-600 Price
              %td
                %span.font-16.in-gold-500
                  = humanized_money_with_symbol delivery.text['price_cents'] / 100
      .general-text-align
        = render partial: 'order_summary', locals: { order_summary_items: @summary_presenter.order_summary }
      .text-center
        = f.submit 'Save and Continue', class: 'btn btn-default mb-20'
  .hidden-xs.mb-res-50
    = simple_form_for @current_order, url: checkout_path, method: 'PATCH' do |f|
      %table.table.table-hover
        %thead
          %tr
            %th.col-method
              %span.in-grey-600.ml-40 Method
            %th
              %span.in-grey-600 Days
            %th
              %span.in-grey-600 Price
        %tbody
          = f.collection_radio_buttons :order_delivery, Delivery.all, :id, :attributes do |d|
            %tr
              %td
                .form-group.radio.mt-0.mb-0
                  %label.radio-label
                    = f.radio_button :order_delivery, d.value, class: 'radio-input', hidden: "true", checked: (@current_order.order_delivery&.delivery_id == d.value)
                    %span.radio-icon
                    %span.radio-text
                      = d.object.name
              %td
                %span
                  = d.object.days
              %td
                %span.font-16.in-gold-500
                  = humanized_money_with_symbol d.object.price
      .general-text-align
        = render partial: 'order_summary', locals: { order_summary_items: @summary_presenter.order_summary }
      .text-center
        = f.submit 'Save and Continue', class: 'btn btn-default mb-20'
