:plain
  $(document).ready(function() {    
    var flash_notice = $("#notice");
    flash_notice.html("#{j(notice)}");
    flash_notice.css('display', flash_notice.text().length == 0 ? 'none' : 'block')
    $("#new_users_billing_address_form").html("#{j(render partial: 'devise/user/address_form', locals: { address: (@address_form&.type&.eql? 'BillingAddress') ? @address_form : Users::BillingAddressForm.new(user: current_user) }) }");
    $("#new_users_shipping_address_form").html("#{j(render partial: 'devise/user/address_form', locals: {address: (@address_form&.type&.eql? 'ShippingAddress') ? @address_form : Users::ShippingAddressForm.new(user: current_user) }) }");
    $("#address_form_new_users_password_form").html("#{j(render 'devise/user/password_form')}");
    $("#new_users_email_form").html("#{j(render 'devise/user/email_form')}");
    $("#user-email").html("#{j(current_user.email)}");
  });
