!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width"}
    %title= t('site_name')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans', type: 'text/css'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: "partials/header"
    .container
      .alert.alert-info#alert{ role: "alert", style: "display: #{alert ? 'block' : 'none'}" }
        = alert
      .alert.alert-info#notice{ role: "alert", style: "display: #{notice ? 'block' : 'none'}" }
        = notice
    = yield
    = render partial: "partials/footer"
    -# = console& if ENV['RACK_ENV'] == 'development'
